<div class="login-container">
    <img src="assets/logo.png" alt="Logo" class="logo" />

    <div class="login-box">

        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <input type="text" placeholder="Usuário" formControlName="username" />

            </div>

            <div class="form-group">
            </div>
            <input type="password" placeholder="Senha" formControlName="password" />


            <button type="submit" [disabled]="loginForm.invalid" class="login-button">Login</button>
            <button type="button" class="forgot-password">Esqueceu a senha?</button>
        </form>
    </div>
</div>